*{
    padding: 0;
    margin: 0;    
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHh30AUi-qJCY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u8w4BMUTPHh30AXC-q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGR_p.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body{
    background-color:#2c3e4c;
}

body{
    font-family: "Lato",  sans-serif;
}


ul{
    padding:0;
    height:  40px;
    line-height: 30px;
    background-color: #2c3e4c;
    text-align: left;
    padding-left: 40px ;
}

li{
    Width: 100px;
    Padding: 5px 0;
    Cursor: pointer;
    color: #ffffff;
    Margin: 0 5px;
    display: inline-block;
    text-align: center;
}

li:hover{
    background-color: #ffffff;
    padding: 5px 0;
    color: #000000;
}

li a{
    text-decoration: none;
    color: #ffffff;
}

venue{
    display: block;
    text-align: right;
    color: #ffffff;
    padding-top: 20px;
    padding-right: 20px;
}

main{
    text-align: center;
}

h1{
    color: #ffffff;
    font-size:78px;
    padding-top: 80px;
    padding:70px ;

    font-weight: 200;
    text-transform: uppercase;
}

h2{
    color: #ffffff;
    font-size:35px;
    font-weight: 100;

    padding: 10px;
}

p{
    color: #ffffff;
    font-size:20px;
    font-weight: 100;
    padding: 10px;
}

.btn{
    color:#ffffff;
    background: none;
    Border: 1px solid #ffffff;
    border-radius: 5px;
    margin-top: 40px ;
    margin-bottom: 20px;
    Padding: 15px 45px;
    font-size: 16px;
    text-transform: uppercase;
}

.btn:hover{
    background: #ffffff;
    border: #ffffff;
    cursor: pointer;
    color: #2c3e4c;
}



.column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row{
      padding: 10px;
      background-color: #ffffff;
  }

img{
    height:200px;
    width: 250px;
    border-radius: 7px;
}

.divtitle{
    color: #999999;
    font-weight: 300;
}

.divsubtitle{
    color: #999999;
    font-weight: 300;
}

.info{
    color: #999999;
    font-weight: 200;
}

footer > ul >  li{
    padding: 40px;
    text-align: right;
}

ul > h2{
    float: left;
    font-size: xx-large;
}

ul a{
    float: right;
}