*{
    margin:0;
    padding:0;
}
/* upper part with background image css */
body{
    font-family: "Lato",sans-serif;
    color: #ffffff; 
}

.container{
    margin: auto;
    padding: 0 10px;
    text-align: center;
    Padding: 0 10px;
    Background: url(background-image.jpg) no-repeat center center;
    background-size: cover;
    Height: 800px;
    align-items: center;
}

h1{
    font-size: 80px;
    Padding: 80px 0;
    Letter-spacing: 8px;
    text-transform: uppercase;
}

p.upper{
    font-size: 27px;
    font-weight: 100;
    Margin: 20px;

}


.btn{
    color:#ffffff;
    background: none;
    Border: 5px solid #ffffff;
    border-radius: 15px;
    margin-top: 40px ;
    Padding: 15px 45px;
    font-size: 16px;

}

.btn:hover{
    background: #000;
    border: #000;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #ffffff;
}


/* lower part with cloud image css */

main{
    margin: 50px 200px;
    max-width: 1060px;
    padding: 0 10px;
}

h2.lower{
    color: #234465;
    margin: 10px;
    text-transform: uppercase;
    text-align: left;
}

p.lower{
    font-size: 16px;
    color:#333333;
    margin-bottom: 5px;
    letter-spacing: 0;
    width: 800px;
    text-align: left;
}

img.lower{
    float: left;
    width: 180px;
    height: 100px;
    margin: 10px 50px 0 0;

}
/* footer */
footer{
    color: #ffffff;
    background-color: #000000;
    font-size: 14px;
    height: 80px;
    line-height: 80px;
    margin: 0px;
    text-align: center;
}